<% m = Morgage.new(mortgage["property"].to_i,  mortgage["deposit"].to_i, mortgage["interest"].to_f, mortgage["length"].to_i, mortgage["conveyancing"].to_i, mortgage["survey"].to_i) %>

<p> Property cost <%= mortgage["property"] %></p>
<p>Considering a <%= mortgage["property"] %> property with <%= mortgage["deposit_rate"] %> %  deposit.</p>
<p>Considering a <%= mortgage[""] %> months long morgage with a <%= mortgage["interest"] %> APR interest</p>
<p></p>
<p>The amount towards deposit:       <%= mortgage["deposit"] %></p>
<p>The amount borrowed:              <%= mortgage["principal"] %></p>
<p></p>
<p>Iterest cost:                     <%= mortgage["interest_paid"] %></p>
<p>Stamp duty cost:                  <%= mortgage["stamp_duty"] %></p>
<p>Survey cost:                      <%= mortgage["survey"] %></p>
<p>Conveyancing cost:                <%= mortgage["conveyancing"] %></p>
<p>Total cost:                       <%= mortgage["overall_cost"] %></p>
</p>
<p>Overall budget:                   <%= mortgage["overall_spending"] %></p>
<p>Upfront requirement:              <%= mortgage["upfront_paid"] %></p>

